{% extends 'base.html' %} {% block content %} {% if user.is_authenticated %}
<span class="h5 m-2"
  >Welcome {{user.username}}, you are now logged in and can contribute to our
  website :&#41;</span
>
<a href="{% url 'post_create' %}" class="btn btn-primary m-2">Create post</a>
<a href="{% url 'logout' %}" class="btn btn-danger m-2">Log out</a>
{% else %}
<span class="h5 m-2">
  You are not logged in now and cannot contribute to our website :&#40; But you
  can read our posts :D Log in or Sign up if you want to contribute ;&#41;</span
>
<a href="{% url 'login' %}" class="btn btn-primary m-2">Log in</a>
<a href="{% url 'signup' %}" class="btn btn-primary m-2">Sign up</a>
{% endif %} {% load blog_tags %}
<div class="container-flex">
  <div class="row">
    <div class="col-4">
      <form class="d-flex m-2" role="search">
        <input
          class="form-control me-2 border border-secondary"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-secondary" type="submit">Search</button>
      </form>
      <div class="m-2 border border-secondary rounded">
        <div class="d-flex border-bottom border-secondary">
          <span class="px-4 py-3 me-auto">Filter by</span>
          <a href="{% url 'index' %}" class="btn btn-danger m-2"
            >Remove filters</a
          >
        </div>
        <div class="accordion" id="accordionparent">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseOne"
                aria-expanded="false"
                aria-controls="collapseOne"
              >
                Author
              </button>
            </h2>
            <div
              id="collapseOne"
              class="accordion-collapse collapse"
              aria-labelledby="headingOne"
              data-bs-parent="#accordion-parent"
            >
              {% get_all_authors as all_authors %}
              <div class="accordion-body">
                {% for author in all_authors %}
                <a
                  href="{% url 'author' author.username %}"
                  class="d-block text-decoration-none p-2"
                  >{{author.username}}</a
                >
                {% endfor %}
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseTwo"
                aria-expanded="false"
                aria-controls="collapseTwo"
              >
                Tags
              </button>
            </h2>
            <div
              id="collapseTwo"
              class="accordion-collapse collapse"
              aria-labelledby="headingTwo"
              data-bs-parent="#accordion-parent"
            >
              {% get_all_tags as all_tags%}
              <div class="accordion-body">
                {% for tag in all_tags %}
                <a
                  href="{% url 'tag' tag %}"
                  class="d-block text-decoration-none p-2"
                  >#{{tag}}</a
                >{% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4">
      <span class="h5 m-2"
        >There are {{all_posts.count}} post{{all_posts.count|pluralize}}
        {{filter}} at the moment</span
      >
      {% load static %} {% for post in posts %}
      <div class="card mb-2">
        <div class="card-body">
          <h5 class="card-title">{{post.title}}</h5>
          <small class="text-muted"
            >{{post.author}} {{post.status|full_status}}</small
          >
          {% for tag in post.tags.all %}
          <span class="badge rounded-pill text-bg-primary mx-1">#{{tag}}</span>
          {% endfor%}
          <p class="card-text">{{post.body}}</p>
          <a href="{% url 'post_detail' post.pk %}" class="btn btn-primary"
            >Read more</a
          ><span class="badge text-bg-primary mx-1"
            >{{post.comments.count}}
            comment{{post.comments.count|pluralize}}</span
          >
        </div>
      </div>
      {% endfor %} {% include "pagination.html" with page=posts %}
      <span class="d-block m-3 h4">Your Favourite game is back!</span>
      <img src="{% static 'fpl1.jpg' %}" alt="Fantasy Football ad" />
      <a
        class="d-block m-3 text-decoration-none h4"
        href="https://fantasy.premierleague.com/"
        >Choose your squad now
      </a>
      <img src="{% static 'fpl2.jpg' %}" alt="Fantasy Football ad" />
    </div>

    <div class="col-4">
      {% if user.is_authenticated %}{% show_draft_posts user %}{% endif %}
    </div>
  </div>
</div>

{% endblock content %}
