{% extends 'base.html' %}{% block content %}
<a href="{% url 'post_create' %}" class="btn btn-primary m-2">Create post</a>

<div class="container-flex">
  <div class="row">
    <div class="col-4">
      <div class="m-2">
        <form class="d-flex" role="search">
          <input
            class="form-control me-2"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        <div class="my-2 border border-dark rounded">
          <span class="d-block border-bottom border-dark px-4 py-3">
            Filter by
          </span>
          <div class="accordion" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button
                  class="accordion-button"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseOne"
                  aria-expanded="true"
                  aria-controls="collapseOne"
                >
                  Author
                </button>
              </h2>
              <div
                id="collapseOne"
                class="accordion-collapse collapse show"
                aria-labelledby="headingOne"
                data-bs-parent="#accordionExample"
              >
                <div class="accordion-body">
                  <a href="#" class="d-block text-decoration-none p-2"
                    >Osbertt</a
                  >
                  <a href="#" class="d-block text-decoration-none p-2"
                    >Marigold</a
                  >
                  <a href="#" class="d-block text-decoration-none p-2"
                    >Burger</a
                  >
                  <a href="#" class="d-block text-decoration-none p-2">Mirai</a>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTwo">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseTwo"
                  aria-expanded="false"
                  aria-controls="collapseTwo"
                >
                  Tags
                </button>
              </h2>
              <div
                id="collapseTwo"
                class="accordion-collapse collapse"
                aria-labelledby="headingTwo"
                data-bs-parent="#accordionExample"
              >
                <div class="accordion-body">
                  <a href="#" class="d-block text-decoration-none p-2">News</a>
                  <a href="#" class="d-block text-decoration-none p-2"
                    >Review</a
                  >
                  <a href="#" class="d-block text-decoration-none p-2"
                    >Preview</a
                  >
                  <a href="#" class="d-block text-decoration-none p-2">Score</a>
                  <a href="#" class="d-block text-decoration-none p-2"
                    >Opinion</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4">
      {% for post in posts %}
      <div class="card mb-2">
        <div class="card-body">
          <h5 class="card-title">{{post.title}}</h5>
          <small class="text-muted">{{post.author}}</small>
          <p class="card-text">{{post.body}}</p>
          <a href="{% url 'post_detail' post.pk %}" class="btn btn-primary"
            >Read more</a
          >
        </div>
      </div>
      {% endfor %}
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" href="#">Previous</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#">Page 2 of 4</a>
          </li>
          <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
      </nav>
    </div>
    <div class="col-4">
      <span class="d-block m-3 h4">Your Favourite game is back!</span>
      <img src="fpl1.jpg" alt="Fantasy Football ad" />
      <a
        class="d-block m-3 text-decoration-none h4"
        href="https://fantasy.premierleague.com/"
        >Choose your squad now
      </a>
      <img src="fpl2.jpg" alt="Fantasy Football ad" />
    </div>
  </div>
</div>

{% endblock content %}
